.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

article:first-child {
  right: 120px;
}
article:nth-child(2) {
  right: 60px;
}
