.textContainer {
  max-width: 380px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 20px;
  line-height: 0.85;
}

p {
  font-weight: 500;
  line-height: 1.25;
  color: hsl(303, 10%, 53%);
}
