.button {
  border-radius: 100%;
  background: hsl(150, 100%, 66%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 1rem;
  position: absolute;
  bottom: -25px;
}

.button:hover {
  box-shadow: hsl(150, 100%, 66%) 0px 0px 29px 0px;
  cursor: pointer;
}
